@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The purpose of this application is serving as a Proof-Of-Concept for a self-service portal for a CSP partner that interacts with
    the Partner Center tool. This way, potentical new customers can create consumption with just a few clicks.
</p>
<p>
    Customers of a CSP partner using such a portal should be able to run the following operations, at least:
    <ul>
        <li>Create a customer in the Partner Center through the portal</li>
        <li>Create an Azure subscription in the Partner Center through the portal</li>
        <li>Create Azure services in that subscription through the portal</li>
    </ul>
</p>