@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Contact me for any comment or suggestion!

<address>
    <strong>Email:</strong>   <a href="mailto:jose.moreno@microsoft.com">jose.moreno@microsoft.com</a><br />
    <strong>Twitter:</strong> <a href="http://twitter.com/erjosito">@@erjosito</a>
</address>